@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
reset styles
*/ 

*{
    color: inherit;
    margin: 0;
}


/**
* base styles
*
**/ 
/**
* theme colors
*
**/ 

$primary:#326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;
/**
* spacing
*
**/ 

$base-padding: 0.75rem;
$base-margin: 0.75rem;


/**
* margin
*
**/ 

$base-border-thickness: 1px;
$base-border-radius: 20px;

/**
* color
*  background color
**/ 

$base-bg-color: palevioletred;
$base-color: ghostwhite;


body{
    font-family: 'Poppins', sans-serif;
    background-color: $base-bg-color;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    border: 0;
border-top: 1px solid #efefef;
}
img{
    max-width: 100%;
}

h1{
    margin-bottom: $base-margin;
    color: $base-color;
}

button{
    background-color: $primary;
 border: 0;
 color: whitesmoke;   
padding: $base-padding;

}

.error{
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
}
.notification{
margin: $base-margin;
    color: $secondary;
    border-color: $secondary;
border-style: solid;
}

h1{
    a{
        color: ghostwhite;
    }
}