@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
reset styles
*/ 

*{
    color: inherit;
    margin: 0;
}




body{
    font-family: 'Poppins', sans-serif;
    background-color: $base-bg-color;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    border: 0;
border-top: 1px solid #efefef;
}
img{
    max-width: 100%;
}

h1{
    padding: $base-padding;
    margin-bottom: $base-margin;
    color: $base-color;
}

button{
    background-color: $primary;
 border: 0;
 color: whitesmoke;   
padding:13px 25px;
border-radius: $base-border-radius;
cursor: pointer;
}

.error{
    padding: $base-padding;
    border-radius: $base-border-radius;
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
}
.notification{
margin: $base-margin;
padding: $base-padding;    
color: $secondary;
    border-color: $secondary;
border-style: solid;
border-radius: $base-border-radius;
}

h1{
    a{
        color: ghostwhite;
    }
}
#heading{
    text-align: center;
    font-size: 60px;
 span{
     color: $error;
    
 }  
}

.error:hover,.notification:hover,button:hover{
    background-color: white;
    color:black;
    font-weight: bolder;
}